@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
}

html {
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%; 
        -webkit-text-size-adjust: 100%;
        text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
}

header {
    background-color: #ccc;
    padding: 0 auto;
    text-align: center;
    position: relative;
}

.masthead {
    overflow: hidden;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    padding: 0.5em 0.75em;
    background-color: #29c5cb;
    color: #fff;
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
}

.skip-links a:focus {
    top: 0;
}

.logo {
    width: 15%;
    float: left;
    margin: 5px;
    padding-top: 5px;
}

h1 {
    font-weight: 400;
    font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
    letter-spacing: .125rem;
    color: #333;
    display: block;
	margin:  auto;
	padding: 10%;
  	text-align: center;
    background-color: lightgrey;
}

.nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: white;
    max-height: 0;
    text-transform: uppercase;
    font-family: 'Megrim', sans-serif;
    text-align: center;
    overflow: hidden;
    
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    transition: all 500ms linear;
}

.nav a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 0.5em;
}

.nav a:hover {
    color: white;
    background-color: #B97922;
}

.nav-check {
    position: absolute;
    top: -3em;
}

.nav-check:checked ~ .nav {
    max-height: 5em;
}

.nav-label {
    cursor: pointer;
    font-size: 1.50rem;
    display: inline-block;
    width: 40px;
}

.nav-open,
.nav-close {
    display: block;
    width: 100%;
    margin: .5rem;
}

.nav-close {
    display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
    display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
    display: block;
}

.nav li {
    display: inline-block;
    text-align: center;
}


.banner {
    background-size: cover;
    padding-top: 50%;
	overflow: hidden;
	position: relative;
	background-color: #F5F5F5;
    background-size: cover;
	-webkit-animation: sunset 8s linear;
	animation: sunset 8s linear;
}

@-webkit-keyframes sunset {
	0% 		{background-color: white;}
	85%  	{background-color: #F5F5F5;}
	100% 	{background-color: #F5F5F5;}
}

@keyframes sunset {
	0% 		{background-color: white;}
	85%  	{background-color: #F5F5F5;}
	100% 	{background-color: #F5F5F5;}
}

.banner-title {
  	position: absolute;
  	top: 0;
    padding: 0;
    margin: 0;
  	width: 100%;
  	color: white;	
  	font-family: 'Quicksand', sans-serif;
  	transform-origin: center center;
	-webkit-animation: fadein-a 8s ease-in-out;
	animation: fadein-a 8s ease-in-out;
}

@-webkit-keyframes fadein-a {
	0% 		{opacity: 0;}
	10% 	{opacity: 0;}
	20% 	{opacity: 0;}
	100%  	{opacity: 1;}
}

@-keyframes fadein-a {
	0% 		{opacity: 0;}
	10% 	{opacity: 0;}
	20% 	{opacity: 0;}
	100%  	{opacity: 1;}
}

.banner-title-text {
	display: block;
	margin:  auto;
	padding-top: 10%;
  	color: #8B0000;	
  	font-family: 'Quicksand', sans-serif;
  	font-size: 1.75rem;
	letter-spacing: 0.50rem;
  	text-align: center;
	text-decoration: none;
	transition: all 500ms linear;
}

.banner-title-text:hover {
    color: #191970;
    letter-spacing: 1rem;
}

.wall-left {
	width: 75%;
	position: absolute;
	left: -1%;
	bottom:0;
	opacity: 0;
	-webkit-animation: slide-left 15s ease-in-out;
	animation: slide-left 15s ease-in-out;
    z-index: 2;
}

@-webkit-keyframes slide-left {
	0% 		{transform: translateX(0px); opacity: 1;}
	50%		{opacity: 1;}
	100%  	{transform: translateX(-100vw); opacity: 0;}
}

@keyframes slide-left {
	0% 		{transform: translateX(0px); opacity: 1;}
	50%		{opacity: 1;}
	100%  	{transform: translateX(-100vw); opacity: 0;}
}

.wall-right {
	width: 75%;
	position: absolute;
	right: -1%;
	bottom: 0;
	opacity: 0;
	-webkit-animation: slide-right 15s ease-in-out;
	animation: slide-right 15s ease-in-out;
    z-index: 2;
}

@-webkit-keyframes slide-right {
	0% 		{transform: translateX(0px); opacity: 1;}
	50%		{opacity: 1;}
	100%  	{transform: translateX(100vw); opacity: 0;}
}

@keyframes slide-right {
	0% 		{transform: translateX(0px); opacity: 1;}
	50%		{opacity: 1;}
	100%  	{transform: translateX(100vw); opacity: 0;}
}

.london {
    position: absolute;
    display: block;
    z-index: 2;
}

.eye {
    width: 45%;
    top: auto;
    -webkit-animation:rotate 12s infinite linear;
    animation:rotate 12s infinite linear;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform:rotate(-360deg);
  }
}
@keyframes rotate {
  100% {
    transform:rotate(-360deg);
  }
}

.walls {
    z-index: 5;
}

.first-cloud {
    position: absolute;
    width: 40%;
    top: 5%;
    left: 75%;
    opacity: 1;
    -webkit-animation: first-cloud 200s linear infinite;
    animation: first-cloud 200s linear infinite;
}

@-webkit-keyframes first-cloud {
    0% { -webkit-transform: translateX(300px); }
    100% { -webkit-transform: translateX(-1500px); }
}

@keyframes first-cloud {
    0% { transform: translateX(300px); }
    100% { transform: translateX(-1500px); }
}

.second-cloud {
    position: absolute;
    width: 40%;
    top: 3%;
    left: 100%;
    opacity: .75;
    -webkit-animation: second-cloud 200s linear infinite;
    animation: second-cloud 200s linear infinite;
}

@-webkit-keyframes second-cloud {
    0% { -webkit-transform: translateX(0); }
    100% { -webkit-transform: translateX(-1500px); }
}

@keyframes second-cloud {
    0% { transform: translateX(0); }
    100% { transform: translateX(-1500px); }
}

.third-cloud {
    position: absolute;
    width: 10%;
    top: 10%;
    right: 50%;
    opacity: .75;
    -webkit-animation: third-cloud 400s linear infinite;
    animation: third-cloud 400s linear infinite;
}

@-webkit-keyframes third-cloud {
    0% { -webkit-transform: translateX(0); }
    100% { -webkit-transform: translateX(-1500px); }
}

@keyframes third-cloud {
    0% { transform: translateX(0); }
    100% { transform: translateX(-1500px); }
}

.fourth-cloud {
    position: absolute;
    width: 10%;
    top: 15%;
    right: 25%;
    opacity: .75;
    -webkit-animation: fourth-cloud 300s linear infinite;
    animation: fourth-cloud 300s linear infinite;
}

@-webkit-keyframes fourth-cloud {
    0% { -webkit-transform: translateX(0px); }
    100% { -webkit-transform: translateX(-1500px); }
}

@keyframes fourth-cloud {
    0% { transform: translateX(0px); }
    100% { transform: translateX(-1500px); }
}

.history-btn {
    padding: 10%;
    text-align: center;
    background-color: #F5F5F5;
}

.learn-history {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    background-color: #8B0000
    padding: 5%;
}

section {
    position: relative;
    background: none;
    width: 100%;
    padding-top: 5%;
    margin: 0;
    text-align: center;
}

button {
    position: relative;
    color: #191970;
    padding: 0;
    margin: 0;
    border: none;
    background-color: #fff;
    font-family: 'Quicksand', sans-serif;
}
    
button:hover {
    color: #F5F5F5;
    border: none;
}

.slidingDiv {
    margin: 5%;
    padding: 5%;
    display: none;
    background-color: #191970;
    color: #F5F5F5;
    max-height: 100%;
    overflow: hidden;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
}

p {
    text-align: left;
    padding: 5%;
    line-height: 20px;
}

ul {
    list-style-type: none;
    text-align: left;
}

li:hover {
    list-style-type: square;
}

.back {
	display: block;
    padding: 5%;
}	

.js-active .bus {
    width: 100px;
    -webkit-animation: bus 300s linear infinite;
    animation: bus 300s linear infinite;
}

@-webkit-keyframes bus {
    0% { -webkit-transform: translateX(200px); }
    100% { -webkit-transform: translateX(-1500px); }
}

@keyframes bus {
    0% { transform: translateX(200px); }
    100% { transform: translateX(-1500px); }
}

.js-active .bus {
    width: 100px;
    -webkit-animation: bus 300s linear infinite;
    animation: bus 300s linear infinite;
}

@-webkit-keyframes bus {
    0% { -webkit-transform: translateX(300px); }
    100% { -webkit-transform: translateX(-1500px); }
}

@keyframes bus {
    0% { transform: translateX(300px); }
    100% { transform: translateX(-1500px); }
}

.js-active .bus {
    width: 100px;
    -webkit-animation: bus 300s linear infinite;
    animation: bus 300s linear infinite;
}

@-webkit-keyframes bus {
    0% { -webkit-transform: translateX(400px); }
    100% { -webkit-transform: translateX(-1500px); }
}

@keyframes bus {
    0% { transform: translateX(400px); }
    100% { transform: translateX(-1500px); }
}

@media only screen and (min-width: 25em){
     .bus {
        width: 150px;
    } 
}

@media only screen and (min-width: 38em){
    
    .banner-title-text {
	padding-top: 5%;
  	font-size: 2.75rem;
    }
    
    h1 {
        padding: 5%;      
    }

    .bus {
        width: 200px;
    }
    
    .logo {
        padding-bottom: 5px;
    }
    
    .banner {
        padding-top: 20%;
    }
}
    
@media only screen and (min-width: 60em){
    
    .banner-title-text {
	padding-top: 15%;
  	font-size: 3.75rem;
    }
  
     .bus {
        width: 200px;
    }
    
    .logo {
        width: 10%;
    }
    
    .banner {
        padding-top: 20%;
    }
}