@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
}

html {
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: red;
}

.center {
    text-align: center;
}

a,
a:link,
a:visited {
    color: white;
    transition: all 2000ms ease-in-out;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: white;
    text-decoration: none;
    transform: scale(1.5);
}

.attract,
.attract:link,
.attract:visited {
    background-color: black;
    padding: 1.5em;
    text-decoration: none;
    transition: all 1000ms linear;
}

.attract:hover,
.attract:focus,
.attract:active {
    color: white;
    background: linear-gradient(to bottom, red, black);
}

.vectors {
    display: block;
    position: relative;
}
.big-ben {
    width: 275px;
    position: absolute;
}

.little-hand {
    width: 14px;
    position: absolute;
    left: calc(50% - 7px);
    top: 110px;  
}

.long-hand {
    width: 14px;
    position: absolute;
    left: calc(50% - 7px);
    top: 110px;
}



.double-decker {
    width: 275px;
    float: right;
    position: relative;
}

.wheel-left {
    width: 45px;
    position: absolute;
    left: calc(25% - 7px);
    top: 150px;
}

.wheel-right {
    width: 45px;
    position: absolute;
    left: calc(65% - 7px);
    top: 150px;
}

.london-eye {
    width: 275px;
    float: right;
    position: relative;
    float: left;
}

.ferris-chair {
    width: 45px;
    position: absolute;
    left: calc(67% - 7px);
    top: 215px;
}
    
@media only screen and (min-width: 20em) {
    
  

}

@media only screen and (min-width: 40em) {
    
  
}

@media only screen and (min-width: 60em) {
 

    
}