@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
}

html {
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
}

.banner {
    padding-top: 100%;
	overflow: hidden;
	position: relative;
	background-color: #F5F5F5;
	-webkit-animation: sunset 8s linear;
	animation: sunset 8s linear;
}

@-webkit-keyframes sunset {
	0% 		{background-color: white;}
	85%  	{background-color: #F5F5F5;}
	100% 	{background-color: #F5F5F5;}
}

@keyframes sunset {
	0% 		{background-color: white;}
	85%  	{background-color: #F5F5F5;}
	100% 	{background-color: #F5F5F5;}
}

.banner-title {
  	position: absolute;
  	top: 0;
  	width: 100%;
  	color: white;	
  	font-family: 'Quicksand', sans-serif;
  	transform-origin: center center;
	-webkit-animation: fadein-a 8s ease-in-out;
	animation: fadein-a 8s ease-in-out;
}

@-webkit-keyframes fadein-a {
	0% 		{opacity: 0;}
	10% 	{opacity: 0;}
	20% 	{opacity: 0;}
	100%  	{opacity: 1;}
}

@-keyframes fadein-a {
	0% 		{opacity: 0;}
	10% 	{opacity: 0;}
	20% 	{opacity: 0;}
	100%  	{opacity: 1;}
}

.banner-title-text {
	display: block;
	margin:  auto;
	padding-top: 20%;
  	color: #8B0000;	
  	font-family: 'Quicksand', sans-serif;
  	font-size: 1.75rem;
	letter-spacing: 0.50rem;
  	text-align: center;
	text-decoration: none;
	transition: all 500ms linear;
}

.banner-title-text:hover {
    color: #191970;
    letter-spacing: 1rem;
}

.scroll 
.scroll-text{
	margin: .25em;
	padding: 1em .75em;
	position: absolute;
	bottom: 2%;
	right: 2%;
    font-family: 'Quicksand', sans-serif;
	background-color: white;
	transition: all 500ms linear;
	color: #191970;
	line-height: 1.75;
	text-align: center;
	text-decoration: none;
}

.scroll:hover 
.scroll-text:hover {
	background-color: #191970;
	color: white;
	text-decoration: none;
}

.wall-left {
	width: 75%;
	position: absolute;
	left: 0;
	bottom:0;
	opacity: 0;
	-webkit-animation: slide-left 15s ease-in-out;
	animation: slide-left 15s ease-in-out;
}

@-webkit-keyframes slide-left {
	0% 		{transform: translateX(0px); opacity: 1;}
	50%		{opacity: 1;}
	100%  	{transform: translateX(-100vw); opacity: 0;}
}

@keyframes slide-left {
	0% 		{transform: translateX(0px); opacity: 1;}
	50%		{opacity: 1;}
	100%  	{transform: translateX(-100vw); opacity: 0;}
}

.wall-right {
	width: 75%;
	position: absolute;
	right: 0;
	bottom: 0;
	opacity: 0;
	-webkit-animation: slide-right 15s ease-in-out;
	animation: slide-right 15s ease-in-out;
}

@-webkit-keyframes slide-right {
	0% 		{transform: translateX(0px); opacity: 1;}
	50%		{opacity: 1;}
	100%  	{transform: translateX(100vw); opacity: 0;}
}

@keyframes slide-right {
	0% 		{transform: translateX(0px); opacity: 1;}
	50%		{opacity: 1;}
	100%  	{transform: translateX(100vw); opacity: 0;}
}

.london {
    position: absolute;
    display: block;
}

.eye {
    width: 50%;
    top: auto;
    -webkit-animation:rotate 12s infinite linear;
    animation:rotate 12s infinite linear;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform:rotate(-360deg);
  }
}
@keyframes rotate {
  100% {
    transform:rotate(-360deg);
  }
}

.first-cloud {
    position: absolute;
    width: 40%;
    top: 5%;
    left: 75%;
    opacity: 1;
    -webkit-animation: first-cloud 200s linear infinite;
    animation: first-cloud 200s linear infinite;
}

@-webkit-keyframes first-cloud {
    0% { -webkit-transform: translateX(300px); }
    100% { -webkit-transform: translateX(-1500px); }
}

@keyframes first-cloud {
    0% { transform: translateX(300px); }
    100% { transform: translateX(-1500px); }
}

.second-cloud {
    position: absolute;
    width: 40%;
    top: 3%;
    left: 100%;
    opacity: .75;
    -webkit-animation: second-cloud 200s linear infinite;
    animation: second-cloud 200s linear infinite;
}

@-webkit-keyframes second-cloud {
    0% { -webkit-transform: translateX(0); }
    100% { -webkit-transform: translateX(-1500px); }
}

@keyframes second-cloud {
    0% { transform: translateX(0); }
    100% { transform: translateX(-1500px); }
}

.third-cloud {
    position: absolute;
    width: 10%;
    top: 10%;
    right: 50%;
    opacity: .75;
    -webkit-animation: third-cloud 400s linear infinite;
    animation: third-cloud 400s linear infinite;
}

@-webkit-keyframes third-cloud {
    0% { -webkit-transform: translateX(0); }
    100% { -webkit-transform: translateX(-1500px); }
}

@keyframes third-cloud {
    0% { transform: translateX(0); }
    100% { transform: translateX(-1500px); }
}

.fourth-cloud {
    position: absolute;
    width: 10%;
    top: 15%;
    right: 25%;
    opacity: .75;
    -webkit-animation: fourth-cloud 300s linear infinite;
    animation: fourth-cloud 300s linear infinite;
}

@-webkit-keyframes fourth-cloud {
    0% { -webkit-transform: translateX(0px); }
    100% { -webkit-transform: translateX(-1500px); }
}

@keyframes fourth-cloud {
    0% { transform: translateX(0px); }
    100% { transform: translateX(-1500px); }
}